@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.desktopNav{
    display: none;
}

.mobileMenu{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #FFFDFA;
    top: 0%;
    right: 0%;
    width: 60%;
    height: 100vh;
    padding: 1.5rem;
}

.mobileMenu > img{
    align-self: flex-end;
}

.mobileNav{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.mobileNav > a{
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
    color: #00001A;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.mainImage{
    width: 100%;
}

button{
    color: #FFFDFA;
    background: #F15D51;
    border: none;
    width: 11rem;
    height: 3rem;
    letter-spacing: 4.375px;
    transition: 0.5s;
}

button:hover{
    background: #00001A;
    cursor: pointer;
    transition: 0.5s;
}

.secondSection{
    margin: 4rem 0 4rem 0;
    background: #00001A;
    padding: 1.2rem;
}

.secondSection > h2{
    color: #E9AA52;
}

.newsSecond{
    color: #FFFDFA
}


.news{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.news > img{
    width: 7rem;
}

.newsColumn{
    margin-left: 1.5rem;
}

.newsColumn > h2{
    font-size:2rem;
    color: #C5C6CE;
    margin: 0;
}

.newsColumn > h3{
    font-size: 1.1rem;
    color: #00001A;
}

.newsColumn{
    font-size: 0.9rem;
    color: #5E607A;
}

